.container {
    display: flex;
}

.sidebar {
    width: 50%;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.tags {
    margin-top: 10px;
}

.badge {
    margin-right: 5px;
}

.readonly-text {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px; /* Puedes ajustar el ancho según tus necesidades */
    text-align: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}
